
{% for category in categories %}
    <tr id="category-row-{{ category.id }}">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.content_type }}</td>
        <td>
            <div class="dropdown dropstart">
                <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="ti ti-dots-vertical fs-6"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <button
                                class="dropdown-item d-flex align-items-center gap-3"
                                hx-get="{% url 'category-list-view' %}?edit={{ category.id }}"
                                hx-target="#category-form"
                                hx-swap="outerHTML"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target="#category-modal"
                        >
                            <i class="fs-4 ti ti-edit"></i>Edit
                        </button>
                    </li>
                    <li>
                        <form
                            hx-delete="{% url 'category-delete-view' category.id %}"
                            hx-target="#category-row-{{ category.id }}"
                            hx-swap="delete"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-trigger="deleteConfirmed"
                        >
                            <button
                                class="dropdown-item d-flex align-items-center gap-3"
                                onclick="confirmDelete(event)"
                            >
                                <i class="fs-4 ti ti-trash"></i>
                                Delete
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
{% endfor %}

{% if has_more %}
    <tr id="loading-row"
        hx-get="{% url 'category-list-view' %}?page={{ next_page }}{% if search %}&search={{ search }}{% endif %}"
        hx-trigger="revealed"
        hx-swap="outerHTML"
        hx-target="#loading-row">
        <td colspan="4" class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </td>
    </tr>
{% endif %}