{% extends 'layout.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet"
          href="{% static 'modernize/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    <section class="datatables">
        <div class="row mb-3">
            <div class="col-12">
                {% block buttons_list %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex mb-3 align-items-center">
                            <div>
                                <h5 class="mb-0">{{ table_title }}</h5>
                            </div>
                            <div class="ms-auto flex-shrink-0">
                                <input type="text́" class="form-control">
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive rounded-2 mb-4">
                            <table class="table border text-nowrap customize-table mb-0 align-middle" id="{{ table_id }}">
                                <thead class="text-dark fs-4">
                                {% block columns %}{% endblock %}
                                </thead>
                                <tbody id="{{ table_id }}_body">
                                {% block rows %}{% endblock %}
                                </tbody>
                                <tfoot>
                                {% block f_columns %}{% endblock %}
                                </tfoot>
                            </table>
                        </div>
                        <!-- End Table -->

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_js %}
    <script src="{% static 'modernize/dist/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}