{% extends 'layout.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'modernize/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    <section class="datatables">
        <!-- basic table -->
        <div class="row mb-3">
            <div class="col-12">
                {% block buttons_list %}{% endblock %}
            </div>
        </div>
        <div class="row">            
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-2">
                            <h5 class="mb-0">{{ table_title }}</h5>
                            <br>
                        </div>
                        {% block table_subtitle %}{% endblock %}
                        <div class="table-responsive">
                            <div id="zero_config_wrapper" class="dataTables_wrapper">
                                <table id="{{ table_id }}" class="table border table-striped table-bordered text-nowrap dataTable" width="100%">
                                    <thead>
                                        {% block columns %}{% endblock %}
                                    </thead>
                                    <tbody>
                                        {% block rows %}{% endblock %}
                                    </tbody>
                                    <tfoot>
                                        {% block f_columns %}{% endblock %}
                                    </tfoot>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
{% endblock %}

{% block page_js %}
    <script src="{% static 'modernize/dist/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}

